<div class="container mt-5">
    <h2>Felhasználókezelés</h2>
  
    <!-- Felhasználók listája -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Név</th>
          <th>Email</th>
          <th>Admin státusz</th>
          <th>Műveletek</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.admin === 1 ? 'Admin' : (user.admin === 2 ? 'Super Admin' : 'User') }}<td>
            <button class="btn btn-warning" (click)="selectedUser = user">Szerkesztés</button>
            <button class="btn btn-success" (click)="giveAdminRights()">Admin jog beállítása</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <!-- Felhasználó szerkesztése -->
    <div *ngIf="selectedUser" class="card mt-4 p-3">
      <h3>Felhasznnálók</h3>
      <form (ngSubmit)="updateUser()">
        <div class="mb-3">
          <label for="name" class="form-label">Név:</label>
          <input id="name" class="form-control" [(ngModel)]="selectedUser.name" name="name" />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input id="email" class="form-control" [(ngModel)]="selectedUser.email" name="email" />
        </div>
        <button class="btn btn-primary" type="submit">Mentés</button>
      </form>
    </div>
  
    <!-- Admin jogosultság adása -->
    <div class="card mt-4 p-3">
      <h3>Admin jog kezelése</h3>
      <form (ngSubmit)="giveAdminRights()">
        <div class="mb-3">
          <label for="username" class="form-label">Felhasználónév:</label>
          <input id="username" type="text" class="form-control" [(ngModel)]="usernameToMakeAdmin" name="username" required />
        </div>
        <button class="btn btn-info" type="submit">Admin jog megadása</button>
      </form>
    </div>
  </div>
  