/* Footer container */
footer {
    margin-top: 2.5rem;
    font-size: 0.875rem;
    padding: 20px;
    background-color: #f8f9fa; 
    color: #333; 
    display: flex;
    justify-content: space-between; /* Tartalom elosztása */
    align-items: center; /* Függőleges középre igazítás */
    text-align: left;
    flex-wrap: wrap; /* Engedélyezi az elemek összepréselődését */
}

/* Logo és kapcsolatok blokk */
.footer-menu {
    display: flex;
    justify-content: space-between;
    width: 60%; /* A bal oldali rész */
    flex-wrap: wrap; /* Engedélyezi az elemek rugalmas összefűzését */
    gap: 20px; /* Kisebb gap a blokk elemei között */
}

.footer-connects {
    font-size: 0.875rem;
    margin-top: 1rem;
    width: 100%;
}

/* Kép a jobb oldalon */
.footer-image {
    max-width: 200px; /* Kép szélesség */
    height: auto;
    margin-left: 20px;
    flex-basis: 100%; /* A kép 100%-os szélességű lesz mobilon */
    text-align: center; /* Kép középre igazítása */
    margin-top: 20px; /* Kép és szöveg közötti távolság */
}

/* Credits szekció */
.footer-credits {
    background-color: #fff;
    padding: 10px;
    border-top: 1px solid #ddd;
    width: 100%; /* Az egész szélességet elfoglalja */
}

.footer-credits-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-rights {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.made-by {
    font-size: 0.75rem;
}
