<footer>
    <div class="footer-menu">
        <div class="container p-lg-0">
            <div class="row row-items">
                <div class="col-6 col-md-4 col-lg-3 g10-xl-2">
                    <div class="footer-logo">
                        <i class="bi bi-star"></i>
                        <img src="/logo.jpg" alt="tappancs és szívecske">         
                    </div>
                </div>

                <div class="col-6 col-md-4 col-lg-3 g10-xl-2">
                    <h4>Kapcsolat</h4>
                    <ul class="footer-connects">
                        <li class="footer-connect-item">
                            <i class="bi bi-telephone"></i>
                            <p class="connect-item">+36 20 123 4567</p>
                        </li>
                        <li class="footer-connect-item">
                            <i class="bi bi-geo-alt"></i>
                            <p class="connect-item">1234 Budapest, Állatvár utca 12.</p>
                        </li>
                        <li class="footer-connect-item">
                            <i class="bi bi-envelope-at"></i>
                            <p class="connect-item">klauvikiandi&#64;gmail.com</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    

    <div class="footer-credits">
        <div class="container p-lg-0">
            <div class="footer-credits-inner">
                <div class="footer-texts">
                    <div class="all-rights">© 2025. SilentCupcake Minden jog fenntartva.</div>
                    <div class="made-by">Tervezte és készítette: Team KlauVikiAndi</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Kép a jobb oldalon -->
    <div class="footer-image">
        <img src="https://cdn.pixabay.com/photo/2019/08/10/09/22/cat-4396539_1280.jpg" alt="Vörös cica" width="150" height="150">
    </div>
</footer>
