 
.card {
    border-radius: 10px; /* Lekerekített sarkok */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Árnyék */
    transition: transform 0.3s ease-in-out; /* Animáció a kártya mozgásához */
  }
  
  
  .card-img-top {
    object-fit: cover;
  }