<div class="row mt-4"></div>
<div class="row mt-4">
    <div class="col-md-12">
      <h3>Miért fontos az örökbefogadás?</h3>
      <p>A menhelyünkön számos kutya és macska vár új gazdira. Az örökbefogadás nemcsak a háziállatok számára jelent új esélyt, hanem segít csökkenteni az állatmenhelyek túlzsúfoltságát és a kóbor állatok számát is. Ha szeretnél egy hűséges társra találni, válaszd az örökbefogadást!</p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <h3>Hogyan lehet védenceinket örökbefogadni?</h3>
      <p>Az örökbefogadás menete egyszerű, de gondos odafigyelést igényel. Az első lépés a kiválasztott állat személyes megismerése, ezután egy interjú során megbizonyosodunk arról, hogy az adott állat és gazda közötti kapcsolat jól alakulna. Az örökbefogadási szerződés aláírása után örömmel segítünk a költözésben!</p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <h3>Örökbefogadási feltételek</h3>
      <ul>
        <li>A gazda köteles megfelelő környezetet biztosítani az örökbefogadott állat számára.</li>
        <li>A kutyákat és macskákat ivartalanítva, oltva, chipezve és orvosi ellenőrzés után adjuk örökbe.</li>
        <li>A gazdának vállalnia kell, hogy megfelelő figyelmet és törődést biztosít az állat számára.</li>
      </ul>
    </div>
  </div>
