<div class="container">
    <div class="row">
      <div *ngFor="let animal of favorites" class="col-md-4 mb-4">
        <div class="card">
          <img [src]="animal.animal.image" class="card-img-top" [alt]="animal.animal.name">
          <div class="card-body">
            <h5 class="card-title">{{ animal.animal.name }}</h5>
            <p class="card-text">{{ animal.animal.description }}</p>
            <p><strong>Becsült születési ideje:</strong> {{ animal.animal.date_of_birth }}</p>
            <p><strong>Bekerülés dátuma:</strong> {{ animal.animal.date_of_admission }}</p>
      
            <!-- Kedvenc törlés gomb -->
            <button class="btn btn-danger" (click)="removeFavorite(animal.animal.id)">
              <i class="bi bi-heart-broken"></i>
              Kedvencekből eltávolít
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  