<main>
    <!-- Banner Section -->
    <section class="banner">
      <h1>Állatmenhely</h1>
      <img src="https://www.bestlife4pets.com/cdn/shop/files/Category_Banner_-_All_Dogs.png?v=1723755774&width=1800" alt="banner">

      <p>Ez a mi állatmenhelyes weboldalunk </p>
    </section>
  
    <!-- News Section -->
    <section class="news bg-light py-5 text-center">
      <div class="container">
        <h2>Hírek</h2>
        <ul>
          <li>Új állatok érkeztek a menhelyre! Nézd meg őket <a routerLink="/animals/animals" routerLinkActive="active-link">itt</a>.</li>
        </ul>
      </div>
    </section>
  
    <!-- Adoption Process Section -->
    <section class="process bg-light py-5 text-center">
      <div class="container">
        <h2>Az örökbefogadás menete</h2>
        <div class="row">
          <div class="col-md-4">
            <h3>Kapcsolatfelvétel</h3>
            <p>Válaszd ki a számodra szimpatikus állato(ka)t, majd foglalj időpontot honlapunkon.</p>
          </div>
          <div class="col-md-4">
            <h3>Ismerkedés</h3>
            <p>Gyere el, és ismerkedjetek meg! Így megbizonyosodhatsz arról, hogy illetek egymáshoz.</p>
          </div>
          <div class="col-md-4">
            <h3>Örökbefogadás</h3>
            <p>Az egészségügyi adatok megbeszélését és a szerződés aláírását követően máris hazaviheted kedvencedet.</p>
          </div>
        </div>
      </div>
    </section>
  
    <!-- About Us Section -->
    <section class="about-us my-5 text-center">
      <div class="container">
        <h2>Rólunk</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, et magni aliquam, sit quidem quaerat nobis temporibus ea totam commodi dolor rerum accusantium tenetur assumenda nihil culpa, dignissimos explicabo error.</p>
      </div>
    </section>
  </main>
  